<!DOCTYPE html>
<html ng-app="store">
<head>
	<title></title>
	<link rel="stylesheet" style="text/css" href="bootstrap.min.css">
</head>
<!-- Directive and name of function being called -->
<body ng-controller="StoreController as store">
	<h1>Flatlander Crafter Gems</h1>
	<h2>&ndash; an Angular store &ndash;</h2>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="product in store.products">
				<h3>{{product.name}}
						<em class="pull-right">{{product.price | currency}}</em>
						<img ng-src="{{product.images[0].full}}">
				</h3>
				<section ng-controller="PanelController as panel">
					<ul class="nav nav-pills">
						<li ng-class="{active: panel.isSelected(1)}">
							<a href ng-click="panel.selectTab(1)">Description</a>
						</li>
						<li ng-class="{active: panel.isSelected(2)}">
							<a href ng-click="panel.selectTab(2)">Specification</a>
						</li>
						<li ng-class="{active: panel.isSelected(3)}">
							<a href	ng-click="panel.selectTab(3)">Reviews</a>
						</li>
					</ul>
					<!-- Tab Panel -->
					<div class="panel" ng-show="panel.isSelected(1)">
						<h4>Description</h4>
						<p>{{product.description}}</p>
					</div>
					<div class="panel" ng-show="panel.isSelected(2)">
						<h4>Specification</h4>
						<blockquote>None yet.</blockquote>
					</div>
					<div class="panel" ng-show="panel.isSelected(3)">
						<h4>Reviews</h4>
						<blockquote ng-repeat="review in product.reviews">
							<b>Stars: {{review.stars}}</b>
							<p>{{review.body}}</p>
							<cite>by: {{review.author}}</cite>
						</blockquote>
						<!-- start review form -->
						<form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
																		ng-submit="reviewCtrl.addReview(product)">
							<blockquote>
							<b>Stars: {{reviewCtrl.review.stars}}</b>
							<p>{{reviewCtrl.review.body}}</p>
							<cite>by: {{reviewCtrl.review.author}}</cite>
							</blockquote>
							<select ng-model="reviewCtrl.review.stars">
								<option value="1">1 star</option>
								<option value="2">2 stars</option>
								<option value="3">3 stars</option>
								<option value="4">4 stars</option>
								<option value="5">5 stars</option>
							</select>
							<textarea ng-model="reviewCtrl.review.body"></textarea>
							<label>by:</label>
							<input ng-model="reviewCtrl.review.author" type="email" >
							<input type="submit" value="Submit">
						</form>
						<!-- end review form -->
					</div>
				</section>
			</li>
		</ul>	
	<!-- Scripts -->
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
</body>
</html>