<!DOCTYPE html>
<html ng-app="store">
<head>
	<title></title>
	<link rel="stylesheet" style="text/css" href="bootstrap.min.css">
</head>
<!-- Directive and name of function being called -->
<body ng-controller="StoreController as store">
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="product in store.products">
			<h3>{{product.name}}
					<em class="pull-right">{{product.price | currency}}</em>
					<img ng-src="{{product.images[0].full}}">
			</h3>
		</li>
	</ul>	

	<!-- 
	<div ng-hide="store.product.soldOut" ng-repeat="product in store.products">
		<h1>{{product.name}}</h1>
		<h2>${{product.price}}</h2>
		<p>{{product.description}}</p>
		<button ng-show="store.product.canPurchase">Add to cart</button>
	</div> -->

	<!-- Scripts -->
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
</body>
</html>